    body{
        /* width: 100vw; */
        height: 100vh;
        margin: 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #carrossel{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: fixed;
    }


    .seta{
        width: 2.5vw;
        height: 5vh;
        border-radius: 50%;
        opacity: 0.4;
        transition: ease-in-out 0.4s;
    }

    .seta#esquerda{
        left: 10%;
        position: absolute;
    }

    .seta#direita {
        left: 90%;
        position: absolute;
    }

    .seta img{
        width: 2.5vw;
        height: 5vh;
        border-radius: 50%;
    }

    .quadro{
        width: 65vw;;
        height:45vh; 
        margin: 10px;
        background-color: #e8ebef;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        position: absolute;    
    }

    .img-carrossel{
        width: 35vw;
        height: 28vh;
        margin: 10px;
        border-radius: 50%;
    }

    .carrossel-p{
        color: #000000;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    }

    .quadro.dois, .quadro.tres, .quadro.quatro, .quadro.cinco{
        display: flex;
        opacity: 0;
    }

    .quadro.um{
        display: flex;
        opacity: 1;
    }

@media(min-width: 600px){
    #carrossel{
        width: calc(45*5vw);
        height: 40vh;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    }
    .quadro.um, .quadro.dois, .quadro.tres {
        opacity: 1;
        width: 25vw;    
        height: 40vh;
    }
    
    .quadro.quatro, .quadro.cinco{
        opacity: 0;
        width: 25vw;
        height: 40vh;
        
    }
    .img-carrossel{
        width: 20vw;
        height: 25vh;
        margin: 10px;
        border-radius: 50%;
    }
    .seta#esquerda{
        left: 3%;
        position: absolute;
    }

    .seta#direita {
        left: 97%;
        position: absolute;
    }

    
}

@media(min-width: 1000px){

    @keyframes girar {
        0% { transform: translateX(0)}
        100% { transform: translateX(-2500px)}
    }

    #carrossel{
        width: 1200px;
        height: 1000px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        /* animation: girar 30s linear infinite;
        transition: opacity 0.5s ease-out;  */
        opacity: 1;
    }

    .carrossel-container{
        width: 2000px;
        height:500px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        animation: girar 30s linear infinite;
        transition: opacity 0.5s ease-out; 
        
    }
    .quadro{
        margin: 20px;
        opacity: 1;
        background-color: #e8ebef;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        position: relative;
        transition: ease-in-out .6s;
        overflow: hidden;
    }
    .quadro.um, .quadro.dois, .quadro.tres, .quadro.quatro, .quadro.cinco {
        opacity: 1;
        width: 200px;    
        height: 300px;
    }
   
    .img-carrossel{
        margin: 10px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        opacity: 1;
        overflow: hidden;   
    }
    .carrossel-p{
        overflow: hidden;
    }

    .quadro:hover{
        background-color: rgb(255, 254, 254);
        width: 240px;
        height: 340px;
        box-shadow: 5px 5px 50px 5px rgb(174, 203, 216);
        
    }
    .carrossel-container:hover{
        -webkit-animation-play-state:paused;
        -moz-animation-play-state:paused;
        -o-animation-play-state:paused;
        animation-play-state:paused;

    }
    
    .seta#esquerda, .seta#direita{
       display: none;
    }
}